.movie-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    
}

.movie-list-header {
 
    padding: 10px 30px;
    justify-content: space-between;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-top: 30px;
}

.movie-list-heading {
    font-size: 26px;
    color: rgb(255, 255, 255);
    display: flex;
     
}

.movie-list-filter {
    list-style: none;
    font-size: 16px;
}

.movie-list-filter-items {
    padding: 5px 10px;
    cursor: pointer;
}

.movie-sorting {
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    height: 30px;
    padding: 0 5px;
    margin: 0 10px;
}

.active {
    border-bottom: 1px solid red;
    font-weight: 500;
}

.movie-cards {
    display: flex;
    flex-wrap: nowrap;
    /* Important */
    overflow-x: auto;
    gap: 30px;
    padding: 20px;
    margin: 20px 0;
    scroll-behavior: smooth;
}

.movie-cards::-webkit-scrollbar {
    display: none;
}